/auth/node_modules
/client/node_modules
/client/.next/
.idea
auth/yarn-error.log
.commands
/common/node_modules
/common/build
/tickets/node_modules
/nats-test/node_modules
/orders/node_modules
/expiration/node_modules